*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: aqua;
}
.Box1 {
    height: 60vh;
    background-color: purple;
    border: 5px solid white;
}
.Box2 {
    height: 60vh;
    background-color: rgb(255, 136, 39);
    border: 5px solid white;
}
.Box3 {
    height: 60vh;
    background-color: rgb(0, 181, 18);
    border: 5px solid white;
}
.blank {
    height: 60vh;
    background-color: white;
    
}